
@media screen and (max-width:420px){
    .carousel{
        height: 40vh;
    }
    .carousel-inner{
        height: 100%;
    }
    .carousel-item img{
        height: 100% !important;
    }
    .carousel-item{
        height:100%;
    }
}

