.navbar{
    background-color: black !important;
    z-index: 3;
}



#rates{
    animation: transformanim 20s ease-in infinite;
}

@keyframes transformanim {
    from{
        transform: translateX(0vw);
    }
    to{
        transform:translateX(65vw);


    }
}

@media screen and (max-width:420px){
    #nav-btn{
        background-color: white !important;
        z-index: -10 !important;
    }
}