.navbar{
    background-color: black !important;
    z-index: 3;
}



#rates{
    animation: transformanim 20s ease-in infinite;
}

@keyframes transformanim {
    from{
        transform: translateX(0vw);
    }
    to{
        transform:translateX(65vw);


    }
}
